@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    color: #4f4f4f;
}

/* --------------Links */

a {
    text-decoration: none;
}

/* --------------Header */

.index-welcome {
    margin: 10px;
    font-size: 1.2rem;
}

.heading {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.index-h2 {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.navbar, .footer-bar {
    background: #614d42;
    text-transform: uppercase;
    color: #dcdcce;
    width: 100%;
    text-align: center;
}

.navbar a, .footer-bar a {
    color: #dcdcce;
    text-decoration: none;
}

.navbar a:hover, .footer-bar a:hover {
    color: #9c897c;
}

.container-header-image {
    margin: auto;
    width: 100%;
}

/* --------------------Containers */

.index-sections {
    margin: auto;
    text-align: justify;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 1rem;
}

.container {
    width: 85%;
}

.sign-up-form {
    background: #FFFDEC;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.food-menu {
    background-color: #FFFDEC;
    margin: 10px;
    padding: 10px;
}

.drink-menu {
        background: #FFFDEC;
        margin: 10px;
        padding: 10px;
}

.cat-menu {
        background: #FFFDEC;
        margin: 10px;
        padding: 10px;
}

.food-drink-menus {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.meet-cats {
    width: 100%;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -----------------Images */

.main-image img {
    width: 100%;
}

.meet-cats-img {
    float: left;
    width: 100%;
}

/* --------------- Headings */

.index-heading {
    margin-top: 200px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 3vw;
}

.index-subheading {
    margin-left: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 2vw;
}

.h3-contact {
    font-size: 1rem;
}

.h2-menu {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 20px;
}

.h3-menu {
    font-size: 1rem;
    text-transform: uppercase;
}

.h2-cat-menu {
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.h3-cat-menu {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.h3-cats {
    font-size: 1rem;
    text-transform: uppercase;
}

.h3-form {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* ------------Footer */

.footer-bar {
    min-height: 3rem;
    margin: auto;
    position: relative;
    padding: 10px;
}