@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* --------------Header */

.index-welcome {
    margin: 10px;
    font-size: 1.2rem;
}

.heading {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.index-h2 {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #aaa;
    text-transform: uppercase;
    color: #000;
    width: 100%;
    text-align: center;
}

.container-header-image {
    margin: auto;
    width: 100%;
}

/* --------------------Index Containers */

.index-sections {
    margin: auto;
    text-align: justify;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 1rem;
}

.container {
    width: 85%;
}


/* -----------------Images */

.main-image img {
    width: 100%;
    height: 30%;
}

.meet-cats-image {
    width: 100%;
}

/* -----------------Links */

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #aaa;
}

/* --------------- Headings */

.index-heading {
    margin-top: 200px;
    margin-left: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 3vw;
}

.index-subheading {
    margin-left: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 2vw;
}

.h3-contact {
    font-size: 1rem;
}

/* ------------Footer */

.footer-bar {
    background-color: #ccc;
    min-height: 3rem;
    margin: auto;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
}